name: relocation-env
channels:
  - conda-forge
dependencies:
  - python=3.12
  - pandas=2.2.2
  - numpy=1.26.4
  - scikit-learn=1.4.2
  - streamlit=1.35.0
  - matplotlib=3.8.4
  - seaborn=0.13.2
  - statsmodels=0.14.2
  - requests=2.31.0
  - openpyxl=3.1.2
  - selenium=4.21.0
  - pip
  - pip:
      - watchdog==4.0.0